.container{
    margin-top: 2rem;

    padding: 1rem;

    &.flex{
        display: flex;
        &.center{
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}